.widget-dynamic-content {
	position   : relative;
	min-height : 20px;
}

.dashboard-column-content {
	margin-bottom : 3em;
	min-height    : 3em;
}

.dashboard-column-add {
	text-align : center;
}

.widget-placeholder {
	margin-bottom : 20px;
}

.admin-dashboard-container {
	padding-bottom : 20px;
}

.admin-dashboard-widget.fullscreen {

	.chart-canvas {
		max-height : ~"calc(100vh - 85px)";
		max-width  : ~"calc(100vw - 46px)";
	}

}

.admin-dashboard-widget-picker {

	a {
		position      : relative;
		display       : block;
		margin-bottom : .5em;
		border        : 1px solid #eee;
		border-radius : 5px;

		&:hover {
			text-decoration  : none;
			background-color : #f9f9f9;
			border-color     : #ddd;
		}

		.fa {
			position : absolute;
			left     : 10px;
			top      : 14px;
		}

		h4 {
			margin : 0;
		}

		p {
			color  : #393939;
			margin : .5em 0 0;
		}
	}

}

.presidecms {

	.alert-dashboard {
		padding-top    : 16px;
		padding-right  : 20px;
		padding-bottom : 16px;
		padding-left   : 20px;

		&-toggle {
			background-color : transparent;
			border           : 0;
			font-size        : 24px;
			width            : 24px;
			height           : 24px;
			margin-left      : auto;
			padding          : 0;

			&.collapsed {
				transform : rotateZ( 180deg );
			}
		}

		&-collapsible {

			&-content {
				margin-top : 14px;
			}
		}

		h5 {
			margin-top    : 0;
			margin-bottom : 0;
			display       : flex;
			align-items   : center;
			gap           : 10px;
		}

		ul {
			color       : var( --font-color-base, #494F55 );
			margin-left : 14px;

			li {
				margin-bottom : 14px;

				&:last-child {
					margin-bottom : 0;
				}
			}
		}
	}

	.page-content .alert-dashboard {

		a {
			border-bottom : 0;
			color         : var( --color-link, #429AE5 );
			font-weight   : var( --font-weight-bold, 600 );
		}

		.alert-dashboard-toggle {

			.fa {
				color : inherit;
			}
		}
	}
}

.page-content-sidebar-content {
	background-color : inherit;
	display          : flex;
	flex-direction   : column;
	height           : 100%;

	> footer {
		background-color : inherit;
		margin-top       : auto;
		position         : sticky;
		bottom           : 0;
	}
}