.widget-dynamic-content {
	position   : relative;
	min-height : 20px;
}

.dashboard-column-content {
	margin-bottom : 3em;
	min-height    : 3em;
}

.dashboard-column-add {
	text-align : center;
}

.widget-placeholder {
	margin-bottom : 20px;
}

.admin-dashboard-widget.fullscreen {

	.chart-canvas {
		max-height : ~"calc(100vh - 85px)";
		max-width  : ~"calc(100vw - 46px)";
	}

}

.admin-dashboard-widget-picker {

	a {
		padding       : 10px 10px 10px 35px;
		position      : relative;
		display       : block;
		margin-bottom : .5em;
		border        : 1px solid #eee;
		border-radius : 5px;

		&:hover {
			text-decoration  : none;
			background-color : #f9f9f9;
			border-color     : #ddd;
		}

		.fa {
			position : absolute;
			left     : 10px;
			top      : 14px;
		}

		h4 {
			margin : 0;
		}

		p {
			color  : #393939;
			margin : .5em 0 0;
		}
	}

}
